

body{
	margin: 0px;
	padding: 0px;
}

footer{
	background-color: #454545;
	color: white;
	padding: 5px;
	margin: 0px;

}
h2{
	font-family: arial;
	color: grey;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: 15px;
}
h3{
	font-family: arial;
	text-align: center;
	color: grey;
}
aside{
	width: 30%;
	float: left;
	background-color: #ffe3bd;
	padding: 10px;
	margin-right: 10px;
	font-family: verdana;
	font-style: italic;

}
input{
	margin-bottom: 15px;
}

.generico{
	width: 80%;
	font-family: verdana;
}
.generico2{
	font-family: verdana;
	text-align: center;
	font-weight: bolder;
	padding: 5px;
}
.eventosLinks{
	width: 350px;
	background-color: blue;
	color: white;
	font-family: arial;
	font-size: 17px;
	border-radius: 6px;
	text-align: center;
	justify-content: center;
	padding-bottom: 5px;
	transition: .25s;
}
.eventosLinks:hover{
	background-color: red;
	box-shadow: 7px 7px 10px #737373;
	transform: scale(1.1);

}
.iconRedSocial{
	margin-right: 2%;
}
.cartasVenta{
	transition: .25s;
}
.cartasVenta:hover{
	transform: scale(1.1);
}

#cartasMuestra01{
	width: 400px;
	margin-top: 25px;
	margin-bottom: 25px;
}
#cartasMuestra02{
	width: 350px;
}
#footerLinks{
	width: 50%;
	padding-left: 15px;
	padding-top: 20px;
	float: right;
}
#logoArriba{
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
#divEventos2{
	display: grid;
	justify-items: center;
}
#contactoGrid{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
#contactoGrid2{
	width: 400px; 
	border: red solid 3px;
	border-radius: 6px;
	box-shadow: 5px 5px 10px #737373;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
#divMenu{
	display: flex; /*PARA CENTRAR LA LISTA EN EL DIV*/
	justify-content: center;
	border-top: 2px solid #454545;
	border-bottom: 2px solid #454545;
	margin-top: 7px;
	margin-bottom: 7px;
	background-image: url("../images/pokemonBackground.jpg");
}
#menuBarra{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0px; /*MARGIN Y PADDING 0 PORQUE TENIA UN POCO POR DEFAULT*/
	padding: 0px;
}
#menuBarra a{
	display: flex; /*PARA CENTRAR EL TEXTO*/
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100px;
	height: 45px;
	margin: 5px;
	border-radius: 3px;
	background-color: red;
	color: white;
	font-size: 17px;
}
#mainDiv{
	display: grid;
	background-color: #737373;
	justify-items: center;
}
#subMainDiv{
	display: grid;
	width: 100%;
	padding-bottom: 50px;
	text-align: justify;
	justify-items: center;
	background-color: white;
}
#cartasGrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 50px;
	justify-items: center;
	margin-bottom: 100px;
	margin-top: 80px;
}
#divEventos{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr;
	grid-row-gap: 20px;
	justify-items: center;
	margin-bottom: 100px;
}
#footerDiv{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#botonEnviar{
	transition: .25s;
}
#botonEnviar:hover{
	transform: scale(1.1);
	border-radius: 3px;
	background-color: #82d5ff;
}


/*MOBILE*/
@media screen and (max-width: 767px){
	#menuBarra{
		display: block;
		margin-right: 10px;
		justify-items: center;
	}
	#menuBarra a{
		width: 100%;
		align-self: center;
	}
	#cartasGrid{
		grid-template-columns: 1fr;
	}
	#divEventos{
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}
	#footerDiv{
		grid-template-columns: 1fr;
	}
	#footerLinks{
		width: 100%;
		padding-left: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
		justify-content: center;
		border-top: solid #737373 3px;
	}
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px){
	#subMainDiv{
		width: 70%;
	}
	#cartasGrid{
		grid-template-columns: 1fr 1fr;
	}
	#footerLinks{
		border-left: solid #737373 3px;
	}
}

/*DESKTOP*/
@media screen and (min-width: 1024px){
	#subMainDiv{
		width: 70%;
	}
	#footerLinks{
		border-left: solid #737373 3px;
	}
}


